<template name="messageTopBar">
  <div class="ui-top-bar js-no-bounce">
    <!-- 第二页顶部标签 -->
    <div class="ui-tab page2 js-active">
      <ul class="ui-groupbutton" role="tablist">

        <li class="js-yick-tab ui-button {{#if isCat4}} js-active{{/if}}" data-toggle="tab" data-target="#page1-tab1" aria-controls="tab4" role="tab">
          全部
        </li>

        <li id="tab0" class="js-yick-tab ui-button {{#if isCat0}} js-active{{/if}}" data-toggle="tab" data-target="#page1-tab2" aria-controls="tab0" role="tab">
          水电费
        </li>

        <li class="js-yick-tab ui-button {{#if isCat2}} js-active{{/if}}" data-toggle="tab" data-target="#page1-tab3" aria-controls="tab2" role="tab">
          快件
        </li>

      </ul>
    </div>
  </div>
</template>