<template name="adminMe">
  {{> adminTopBar me=1}}
  <div class="ui-page-content ui-yick-page">
  {{#if currentUser.profile.building }}
    <ul class="ui-yick-list ui-list">
      <li class="ui-item"><a href="#">姓名<span class="ui-yick-value ui-right">{{currentUser.profile.name}}</span></a></li>
      <li class="ui-item"><a href="#">用户名<span class="ui-yick-value ui-right">{{currentUser.username}}</span></a></li>
      <li class="ui-item"><a href="#">楼栋<span class="ui-yick-value ui-right">{{currentUser.profile.building}}</span></a></li>
    </ul>
  {{else}}
    <ul class="ui-yick-list ui-list">
      <li class="ui-item"><a href="#">姓名<span class="ui-yick-value ui-right">{{currentUser.profile.name}}</span></a></li>
      <li class="ui-item"><a href="#">用户名<span class="ui-yick-value ui-right">{{currentUser.username}}</span></a></li>
    </ul>

    <ul class="ui-list arrow-right">
      <li class="ui-item"><a href="/create"><span class="ui-yick-item-icon ui-icon ion-plus-round"></span> 创建楼栋</a></li>
    </ul>
  {{/if}}
  <ul class="ui-list">
    <li class="ui-item">
      <a href="/logout"><span class="ui-yick-item-icon ui-icon ion-log-out"></span> 退出登录</a>
    </li>
  </ul>
  </div>
</template>