<template name="createRoom">
  {{> studentTopBar create=1}}
  <div class="ui-page-content ui-yick-page">
    <form action="" id="create-room">
      <div class="ui-yick-list-panel ui-panel">
        <div class="ui-yick-row">
            <select class="ui-yick-select" name="building-name" id="building-name">
              {{#each buis}}
                <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
        </div>
        <div class="ui-yick-row">
          <input type="number" class="ui-yick-input" placeholder="宿舍名称  如：311" id="room-name" >
        </div>
      </div>
      <div class="ui-yick-btn-panel ui-panel">
        <button type="submit" class="ui-button ui-block ui-info">创建</button>
      </div>
    </form>
  </div>
</template>