<template name="messagePage">
  {{> messageTopBar}}
  <div class="ui-page-content ui-yick-page">
    <h3 class="ui-caption">历史水电费消息</h3>
    {{#each msglist}}
    <ul class="ui-list">
      <li class="ui-item">
        <a href="#">
          <div class="my-sub-title"><span class="ui-icon ion-speakerphone"></span> {{subject}}</div>
          <div class="my-notice">
            <p>{{content}}</p>
            <span class="my-date">{{dateToString time}}</span>
          </div>
        </a>
      </li>
    </ul>
    {{/each}}
  </div>
  
</template>