<template name="signup">
  {{> adminTopBar signup=1}}
  <div class="ui-page-content ui-yick-page">
    <form action="" id="signup-form">
      <div class="ui-yick-list-panel ui-panel">
        <div class="ui-yick-row">
          <input type="number" class="ui-yick-input" placeholder="手机号/账号" id="account-phone">
        </div>
        <div class="ui-yick-pwd ui-yick-row">
          <input type="password" class="ui-yick-input ui-yick-show" placeholder="密码" id="account-password">
        <input type="text" class="fake-password ui-yick-input" placeholer="密码" id="fake-password">
        <span class="ui-icon ion-ios-eye-outline" id="js-yick-eye"></span>
        </div>
        <div class="ui-yick-row">
          <input type="number" class="ui-yick-input" placeholder="等级" id="account-level">
        </div>
        <div class="ui-yick-row">
          <input type="text" class="ui-yick-input" placeholder="名字" id="account-name">
        </div>
      </div>
      <div class="ui-yick-btn-panel ui-panel">
        <button type="submit" class="ui-button ui-block ui-info">注册</button>
      </div>
    </form>
  </div>
</template>