<template name="studentIndex">
  {{#if currentUser.profile.room }}
    {{> studentTopBar index=1 hasRoom=1}}
  {{else}}
    {{> studentTopBar index=1 hasRoom=0}}
  {{/if}}
  <div class="ui-page-content ui-yick-page">
  {{#if currentUser.profile.room }}
    <!-- 公告栏 -->
    <ul class="ui-list my-top-block">
      <li class="ui-item arrow-right my-title"><a href="/msg/category/4"><span class="ui-icon ion-ios7-chatboxes"></span> 公告栏</a></li>
      {{# each notice }}
      <li class="ui-item">
        <a href="#">
          <div class="my-sub-title">{{subject}}</div>
          <div class="my-notice">
            <p>{{content}}</p>
            <span class="my-date">{{dateToString time}}</span>
          </div>
        </a>
      </li>
      {{/each}}
    </ul>

    <!-- 最新消息 -->
    <ul class="ui-list">
      <li class="ui-item arrow-right my-title"><a href="/msg/category/4"><span class="ui-icon ion-ios7-bell"></span> 最新消息</a></li>
      <!-- 第一条 -->
      {{# each other}}
      <li class="ui-item">
        <a href="#">
          <div class="my-sub-title"><span class="ui-icon ion-ios7-lightbulb"></span> {{subject}}</div>
          <div class="my-notice">
            <p>{{content}}</p>
            <span class="my-date">{{dateToString time}}</span>
          </div>
        </a>
      </li>
      {{/each}}

    </ul>
  {{else}}
  <div class="ui-yick-init"><span class="ui-icon ion-coffee"></span>
    <h3>空空如也</h3>
    <p>你还没有加入任何房间。<a href="/create">去创建（加入）</a></p> </div>
  {{/if}}
  </div>
</template>